.nav_container {
  bottom: 2rem;
  display: block;
  left: 50%;
  position: fixed;
  transform: translateX(-50%);
  z-index: 99;
  padding: 1.4rem;
  border-radius: 20px;
  background: hsla(0, 0%, 100%, 0.8);
  background: transparent;
  backdrop-filter: blur(10px);
}

.nav_container a {
  padding-bottom: 0.8rem;
  padding-top: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  transition: background-color 0.3s linear;
  border-radius: 8px;
  margin: 0.5rem;
}

.nav_container a:hover {
  background-color: #0f0e0e;
}

.active {
  background-color: #daf5ff;
  border-radius: 14px;
  pointer-events: none;
}

@media (min-width: 385px) and (max-width: 850px) {
  .nav_container {
    padding: 0.2rem;
    display: flex;
  }
  .nav_container a {
    padding: 1rem;
  }
  .nav_container a:hover {
    background-color: #daf5ff;
  }
}

.particles {
  z-index: -1;
}
